<div class="container mx-auto mt-10">
  <h1 class="text-2xl font-bold font-montserrat mb-6 text-primary">Nueva fuente de identificación</h1>


  <div class="grid gap-4">

    <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
      <!--! PP -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="procesoProduccion">
          Proceso de producción
        </label>
        <h2>{{ procesoProduccion }}</h2>
      </div>

      <!--! Acrónimo -->
      <div class="col-span-1 text-center">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="acronimo">
          Acrónimo
        </label>
        <h2 class="text-lg font-semibold" id="acronimo"> {{ acronimo }}
        </h2>
      </div>

      <!--! Tipo Fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium mb-2 text-secondary" for="fuente">
          Fuente de identificación

        </label>

        <input type="text" id="fuente" [(ngModel)]="fuente" class="input input-sm input-bordered w-full" placeholder="" />


      </div>

      <!--! Año del evento -->
      <div class="col-span-1">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="anio">
          Año del evento
        </label>
        <input type="text" (input)="validateYear($event)" [(ngModel)]="anioEvento" maxlength="4" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>



    </div>

    <div class="grid grid-col-1 md:grid-cols-4 gap-4">


      <!--! Liga de acceso a la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="accesoLink">
          Liga de acceso a la fuente
        </label>
        <input type="text" id="accesoLink" [(ngModel)]="linkFuente" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>


      <!--! Comentario de la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="comentario">
          Comentario de la fuente
        </label>
        <input type="text" id="comentarioF" [(ngModel)]="comentarioF" class="input input-sm input-bordered w-full" />
      </div>
    </div>

    <!-- @if (!flagVarButton) { -->
    <div class="flex justify-between items-center mt-2 mb-2">
      <h1></h1>
      <button class="btn btn-outline btn-primary btn-sm " (click)="nuevaFuente()">
        Capturar fuente
      </button>
    </div>
    <!-- } -->

  </div>








<h1 class="text-1xl font-bold font-montserrat mb-6 text-primary">Lista de fuentes de identificación</h1>

  <div class="overflow-auto   mt-5 " style="max-height: 40rem;">

    <table class="table table-xs table-pin-rows">
      <thead class="">
        <tr class="">
          <th class="text-secondary text-center">Proceso de producción</th>
          <th class="text-secondary text-center">Fuente de identificación</th>
          <th class="text-secondary text-center">Liga de acceso a la fuente</th>
          <th class="text-secondary text-center">Año del evento</th>
          <th class="text-secondary text-center">Variables Capturadas</th>

          <th class="text-secondary text-center">Acciónes</th>

        </tr>
      </thead>
      <tbody>
        <!-- Spinner de carga -->
        <tr *ngIf="loading">
          <td colspan="7" class="text-center p-4">
            <span class="loading loading-spinner loading-md"></span>
          </td>
        </tr>


        <tr *ngFor="let fuente of fuentes; let i = index">

          <td class="text-center">{{ fuente.idPp }}</td>
          <td class="text-center">{{ fuente.fuente }}</td>
          <td class="text-center">
            @if (fuente.linkFuente) {
            <a [href]="fuente.linkFuente" class="text-blue-500 underline" target="_blank">
              Liga de acceso
            </a>
            } @else {
            <span class="text-yellow-500 font-semibold">Liga no disponible</span>
            }
          </td>

          <td class="text-center">{{ fuente.anioEvento }}</td>

          <td class="text-center">{{ fuente.totalVariables }}</td>

          <td class="text-center">

            <button (click)="editarFuente(fuente)" class="px-3 py-1 btn btn-outline btn-primary btn-xs ">
              Editar
            </button>
            <button class="px-3 py-1 btn btn-outline btn-error btn-xs ml-2" (click)="abrirModal(fuente.idFuente)">
              Eliminar
            </button>
            <button class="px-3 py-1 btn btn-outline btn-secondary btn-xs ml-2 " (click)="addVars(fuente)">
              Agregar Variable
            </button>
          </td>

        </tr>


      </tbody>

    </table>

  </div>


</div>


<!-- Modal -->
<dialog #modalEliminar class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¿Estás seguro?</h3>
    <p class="py-4">¿Deseas eliminar esta fuente de identificación? Esta acción no se puede deshacer.</p>
    <div class="modal-action">
      <!-- Botón Cancelar -->
      <button class="btn btn-outline" (click)="cerrarModal()">Cancelar</button>
      <!-- Botón Aceptar -->
      <button class="btn btn-error" (click)="confirmarEliminacion()">Aceptar</button>
    </div>
  </div>
</dialog>

<!-- Modal para datos incompletos -->
<dialog #modalSinDatos class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Datos incompletos</h3>
    <p class="py-4">Para continuar, es necesario completar todos los campos requeridos. Por favor, verifica la
      información faltante.</p>
    <div class="modal-action">
      <!-- Botón Aceptar -->
      <button class="btn btn-primary" (click)="cloceModalSinDatos()">Entendido</button>
    </div>
  </div>
</dialog>

<!-- Modal de actualización exitosa -->
<dialog #modalFuenteNueva class="modal">
  <div class="modal-box">
    <!-- Icono de creación (+) -->
    <div class="flex justify-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-success" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
    </div>

    <h3 class="text-lg font-bold text-center">¡Fuente creada!</h3>
    <p class="py-4 text-center">La nueva fuente se ha registrado exitosamente en el sistema.</p>

    <div class="modal-action flex justify-center">
      <!-- Botón para cerrar -->
      <button class="btn btn-success" (click)="clocemodalFuenteNueva()">

        Aceptar
      </button>
    </div>
  </div>
</dialog>
