<div class="container mx-auto mt-5">
  <h1 class="text-2xl font-bold font-montserrat mb-6">Nueva fuente de identificación</h1>


  <div class="grid gap-4">

    <div class="grid grid-cols-1 md:grid-cols-6 gap-4">
      <!--! PP -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2" for="procesoProduccion">
          Selecciona el proceso de producción
        </label>
        <select id="procesoProduccion" class="select select-bordered select-sm w-full "
          (change)="seleccionarProceso($event)" [value]="procesoSeleccionado()?.id || ''">
          <option disabled [selected]="!procesoSeleccionado()">Selecciona una opción</option>
          @for (proceso of ppEco(); track proceso.id) {
          <option [value]="proceso.id">{{ proceso.procesoProduccion }}</option>
          }
        </select>
      </div>

      <!--! Acrónimo -->
      <div class="col-span-1 text-center">
        <label class="block text-sm font-medium  mb-2" for="acronimo">
          Acrónimo
        </label>
        <h2 class="text-lg font-semibold" id="acronimo"> {{ procesoSeleccionado()?.acronimoProceso || '-' }}
        </h2>
      </div>

      <!--! Tipo Fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium mb-2" for="fuente">
          Fuente de identificación

        </label>

        <input type="text" id="fuente" [(ngModel)]="fuente" class="input input-sm input-bordered w-full " placeholder="" />


      </div>

      <!--! Año del evento -->
      <div class="col-span-1">
        <label class="block text-sm font-medium  mb-2" for="anio">
          Año del evento
        </label>
        <input type="text" (input)="validateYear($event)" [(ngModel)]="anioEvento" maxlength="4" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>



    </div>

    <div class="grid grid-col-1 md:grid-cols-4 gap-4">


      <!--! Liga de acceso a la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2" for="accesoLink">
          Liga de acceso a la fuente
        </label>
        <input type="text" id="accesoLink" [(ngModel)]="linkFuente" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>


      <!--! Comentario de la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2" for="comentario">
          Comentario de la fuente
        </label>
        <input type="text" id="comentarioF" [(ngModel)]="comentarioF" class="input input-sm input-bordered w-full" />
      </div>
    </div>

    <!-- @if (!flagVarButton) { -->
    <div class="flex justify-between items-center mt-2 mb-2">
      <h1></h1>
      <button class="btn btn-outline btn-secondary btn-sm" (click)="nuevaFuente()">
        Capturar fuente
      </button>
    </div>
    <!-- } -->

  </div>









  <div class="overflow-x-auto mt-5">
    <h1 class="text-1xl font-bold font-montserrat mb-6">Lista de fuentes de identificación</h1>
    <table class="table table-xs table-pin-rows">
      <thead>
        <tr>
          <th></th>
          <th>Procesos de Producción</th>
          <th>Fuente de identificación</th>
          <th>Liga de acceso a la fuente</th>
          <th>Año del evento</th>
          <th>Comentario de la fuente </th>
          <th>Acciónes</th>
        </tr>
      </thead>
      <tbody>
        <!-- Spinner de carga -->
        <tr *ngIf="loading">
          <td colspan="7" class="text-center p-4">
            <span class="loading loading-spinner loading-md"></span>
          </td>
        </tr>


        <tr *ngFor="let fuente of fuentes; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ fuente.idPp }}</td>
          <td>{{ fuente.fuente }}</td>
          <td>
            @if (fuente.linkFuente) {
            <a [href]="fuente.linkFuente" class="text-blue-500 underline" target="_blank">
              Liga de acceso
            </a>
            } @else {
            <span class="text-yellow-500 font-semibold">Liga no disponible</span>
            }
          </td>

          <td>{{ fuente.anioEvento }}</td>
          <td>{{ fuente.comentario }}</td>
          <td>
            <button (click)="editarFuente(fuente)" class="px-3 py-1 btn btn-outline btn-primary btn-xs ">
              Editar
            </button>
          </td>
        </tr>


      </tbody>

    </table>

  </div>


</div>


