<div class="w-full max-w-screen-xl mx-auto px-5 mt-5 mb-5">

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Editar variable {{ idA }}
      </h1>
      <button class="btn btn-sm btn-primary text-base-100" [disabled]="actualizarRegistro" (click)="actualizarTodo()" >
        Actualizar Registro
        </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="nombreVariable">
        Nombre de la variable
      </label>
      <input type="text" id="nombreVariable" [(ngModel)]="nombre" (ngModelChange)="validacion()"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="definicionVariable">
        Definición de la variable
      </label>
      <input type="text" id="definicionVariable" [(ngModel)]="definicion" (ngModelChange)="validacion()"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="_linkVar">
        Url de acceso variable
      </label>
      <input type="text" id="_linkVar" [(ngModel)]="url" (ngModelChange)="validacion()"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="comentarioVariable">
        Comentario de la variable
      </label>
      <input type="text" id="comentarioVariable" [(ngModel)]="comentarioS" (ngModelChange)="validacion()"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2 text-center">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="alinea_MDEA">
        Alineación con MDEA
      </label>
      <input type="checkbox" id="alinea_MDEA"  [checked]="mdea" (click)="checkedMDEA($event)"
         class="checkbox checkbox-md " />
    </div>

    <div class="col-span-2 text-center">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="alinea_ODS">
        Alineación con ODS
      </label>
      <input type="checkbox" id="alinea_ODS"  [checked]="ods" (click)="checkedODS($event)"  class="checkbox checkbox-md" />
    </div>

    <!-- <div class="col-span-4 ">
      <button class="btn btn-block btn-primary btn-sm" (click)="actualizarVariable()">Actualizar Variable</button>
    </div> -->


  </div>

  <div class="divider"></div>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Editar Pertinencia
    </h1>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-7 gap-4 mb-6">




    <div class="col-span-3">
      <label class="block text-sm font-medium mb-2 text-secondary" for="temaCobertura">
        Tema de cobertura de necesidades
      </label>
      <input type="text" id="temaCobertura" [(ngModel)]="pertinencia" (ngModelChange)="validacion()"  class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="idNivelCont">
        Nivel de contribución
      </label>
      <select class="select select-bordered select-sm w-full" [(ngModel)]="contribucion" (ngModelChange)="validacion()">
        <option disabled selected>Selecciona un nivel</option>
        <option value="Alto">Alto</option>
        <option value="Intermedio">Intermedio</option>
        <option value="Bajo">Bajo</option>
        <option value="-">-</option>
      </select>
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Viabilidad de generación
      </label>
      <select class="select select-bordered select-sm w-full " [(ngModel)]="viabilidad" (ngModelChange)="validacion()">
        <option disabled selected>Selecciona una opción</option>
        <option value="Viable">Viable</option>
        <option value="No viable">No viable</option>
        <option value="-">-</option>
      </select>
    </div>

    <div class="col-span-3">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Propuesta de generación de estadística derivada
      </label>
      <input
        type="text" id="comentarioVariable" [(ngModel)]="propuesta" (ngModelChange)="validacion()" class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-4 mb-2">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Comentario de pertinencia
      </label>
      <input  type="text" id="comentarioVariable" [(ngModel)]="comentarioSP" (ngModelChange)="validacion()"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <!-- <div class="col-span-8">
      <button class="btn btn-block btn-primary btn-sm" (click)="actualizarPertinencia()">Actualizar Pertinencia</button>
    </div> -->

  </div>

  <div class="divider"></div>



  @if (ods_html_hidden && mdea_html_hidden) {
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Editar Relaciones Mdea y Ods
    </h1>
  </div>
  }

  @if (mdea_html_hidden && !ods_html_hidden) {
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Editar Relaciones Mdea
    </h1>
  </div> }

  @if (ods_html_hidden && !mdea_html_hidden) {
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Editar Relaciones Ods
    </h1>
  </div> }





  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-20">
    @if (mdea_html_hidden) {
      <div class="border p-4">

          <div class="flex justify-between items-center mb-6">
            <h1 class="text-1xl font-bold font-montserrat text-primary">Relación MDEA</h1>

            <button class="btn btn-outline btn-sm btn-primary " (click)="registrarRelacion()">
              + Agregar relación MDEA
            </button>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idComponente">
                Componente
              </label>
              <select class="select select-bordered select-sm w-full" (change)="onSelectComponente($event)">
                <option disabled selected>Selecciona un Componente</option>
                <option *ngFor="let comp of arrComponentes" [value]="comp.idComponente">{{comp.idComponente}}. {{ comp.nombre }}</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idSubcom">
                Subcomponente
              </label>
              <select class="select select-bordered select-sm w-full" #subcomponenteSelect
              (change)="onSelectSubcomponente($event)" [disabled]="!isSelectEnabled_Subc"                 >
                <option disabled selected>Selecciona un Subcomponente</option>
                <option *ngFor="let subcomp of arrSubcomponente" [ngValue]="subcomp">{{ subcomp.idSubcomponente }}. {{ subcomp.nombre }}
                  </option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idTopico">
                Tema
              </label>
              <select class="select select-bordered select-sm w-full" #topicoSelect (change)="onSelectTopico($event)"
              [disabled]="!isSelectEnabled_Top" >
                >
                <option disabled selected>Selecciona un Tema</option>
                <option *ngFor="let tema of arrTemas" [ngValue]="tema">{{ tema.idTema }}. {{ tema.nombre }}</option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idVariableMDEA">
                Estadística 1
              </label>
              <select class="select select-bordered select-sm w-full" #variableSelect (change)="onSelectVariable($event)"
              [disabled]="!isSelectEnabled_Var">
                <option disabled selected>Selecciona Estadistica1</option>
                <option *ngFor="let vari of arrEstadistica1" [ngValue]="vari">{{ vari.idEstadistico1 }}. {{ vari.nombre }}</option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idEstadistico">
                Estadística 2
              </label>
              <select class="select select-bordered select-sm w-full" #estadisticoSelect (change)="onSelectEstadistico($event)" [disabled]="!isSelectEnabled_Est">
                <option disabled selected>Selecciona un Estadistica2</option>
                <option *ngFor="let estad of arrEstadistica2" [ngValue]="estad">{{ estad.idEstadistico2 }}. {{ estad.nombre }}
                  </option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idNivelCont">
                Nivel de contribución
              </label>
              <select id="idNivelCont" (change)="onSelectNivel($event)"
              [(ngModel)]="nivelContribucionContenidosMdeaRelation" [disabled]="!isSelectEnabled_Nivel"
                name="nivelContribucionContenidosMdeaRelation"
                class="select select-bordered select-sm w-full ">
                <option disabled selected>Selecciona un nivel</option>
                <option value="Alto">Alto</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Bajo">Bajo</option>
              </select>

            </div>

            <div class="col-span-3">
              <label class="block text-sm font-medium text-secondary mb-2" for="idComentario">
                Comentario
              </label>
              <input type="text" id="comentariopullMdea" [(ngModel)]="comentariopullMdea"
              [disabled]="!isSelectEnabled_Comentario"
                class="input input-sm input-bordered w-full" placeholder="" />
            </div>







          </div>


          <div class="flex justify-between items-center mb-2 mt-6">
            <h1 class="text-1xl font-bold font-montserrat text-primary">Lista de relaciones</h1>


          </div>

            <div class="overflow-x-auto">
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-secondary">Codigo de relación</th>
                    <th class="text-secondary text-center">Nivel</th>
                    <th class="text-secondary text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for (item of arrMdea; track $index) {
                  <tr>
                    <th>
                      <ul class="grid grid-cols-[auto_1fr] gap-x-2">
                        <li class="contents">
                          <span class="font-medium">Componente:</span>
                          <span>{{ item.componente }}</span>
                        </li>
                        <li class="contents">
                          <span class="font-medium">Subcomponente:</span>
                          <span>{{ item.subcomponente }}</span>
                        </li>
                        <li class="contents">
                          <span class="font-medium">Tema:</span>
                          <span>{{ item.tema }}</span>
                        </li>
                        <li class="contents">
                          <span class="font-medium">Estadística 1:</span>
                          <span>{{ item.estadistica1 }}</span>
                        </li>
                        <li class="contents">
                          <span class="font-medium">Estadística 2:</span>
                          <span>{{ item.estadistica2 }}</span>
                        </li>
                      </ul>
                    </th>


                    <th class="text-center">{{ item.contribucion }}</th>
                    <th class="text-center">
                      <button class="px-3 py-1 btn btn-outline btn-error btn-xs"
                      (click)="delete_relationArrMdea(item.idUnique)">Eliminar</button>
                    </th>
                  </tr>
                }
                </tbody>
              </table></div>





      </div>




    }
    @if (ods_html_hidden) {
      <div class="border p-4">

        <div class="flex justify-between items-center mb-6">
          <h1 class="text-1xl font-bold font-montserrat text-primary">Relación ODS</h1>

          <button class="btn btn-outline btn-sm btn-primary " (click)="registrarNuevaRelacion()">
            + Agregar relación ODS
          </button>

        </div>

          <div class="grid sm:grid-cols-1 md:grid-cols-2 gap-2">
            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idComponente">
                Objetivo
              </label>
              <select class="select select-bordered select-sm w-full" (change)="onSelectObjetivo($event)" >
                <option disabled selected>Selecciona un Objetivo</option>
                <option *ngFor="let obj of arrObjetivo" [value]="obj.idObjetivo">{{ obj.idObjetivo+'. '+obj.objetivo }}</option>
              </select>
            </div>

            <div class="max-w-xs ">
              <label class="block text-sm font-medium text-secondary mb-2" for="idSubcom">
                Meta
              </label>
              <select class="select select-bordered select-sm w-full" #metaSelect (change)="onSelectMeta($event)"
              [disabled]="!isSelectEnabled_Meta">
                <option disabled selected>Selecciona una Meta</option>
                <option *ngFor="let meta of arrMetas" [value]="meta.idMeta">{{ meta.idMeta }}.
                  {{
                  meta.meta.length > 50
                  ? (meta.meta | slice: 0: 100) + '...'
                  : meta.meta
                  }}</option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs truncate">
              <label class="block text-sm font-medium text-secondary mb-2" for="idTopico">
                Indicador
              </label>
              <select class="select select-bordered select-sm w-full " #indicadorSelect (change)="onSelectIndicador($event)"
              [disabled]="!isSelectEnabled_Ind" >

                <option disabled selected>Selecciona un Indicador</option>
                <option class="truncate" *ngFor="let indic of arrIndicadores" [value]="indic.idIndicador">
                  {{indic.idIndicador}}.
                  {{ indic.indicador.length > 50 ? (indic.indicador | slice:0:100) + '...' :
                  indic.indicador }}</option>
                <option value="-">-</option>
              </select>
            </div>

            <div class="max-w-xs">
              <label class="block text-sm font-medium text-secondary mb-2" for="idNivelCont">
                Nivel de contribución
              </label>
              <select class="select select-bordered select-sm w-full " (change)="_ods_onSelectNivel($event)"
              [(ngModel)]="_ods_nivelContribucion" [disabled]="!_ods_isSelectEnabled_Nivel">
                <option disabled selected>Selecciona un nivel</option>
                <option value="Alto">Alto</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Bajo">Bajo</option>
              </select>

            </div>

            <div class="col-span-2">
              <label class="block text-sm font-medium text-secondary mb-2" for="idComentario">
                Comentario
              </label>
              <input  type="text" [(ngModel)]="_ods_comentarioRelacionODS" [disabled]="!_ods_isSelectEnabled_Comentario"
                id="comentariopullMdea" class="input input-sm input-bordered w-full" placeholder="" />
            </div>

          </div>

          <div class="flex justify-between items-center mb-2 mt-6">
            <h1 class="text-1xl font-bold font-montserrat text-primary">Lista de relaciones</h1>


          </div>

          <div class="overflow-x-auto">
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th class="text-secondary">Codigo de relación</th>
                  <th class="text-center text-secondary">Nivel</th>
                  <th class="text-center text-secondary">Acciones</th>

                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                @for (item of arrOds; track $index) {
                <tr>
                  <th>
                    <ul class="grid grid-cols-[auto_1fr] gap-x-2">
                      <li class="contents">
                        <span class="font-medium">Objetivo:</span>
                        <span>{{ item.objetivo }}</span>
                      </li>
                      <li class="contents">
                        <span class="font-medium">Meta:</span>
                        <span>{{ item.meta }}</span>
                      </li>
                      <li class="contents">
                        <span class="font-medium">Indicador:</span>
                        <span>{{ item.indicador }}</span>
                        </li>

                    </ul>
                  </th>



                  <th class="text-center">{{ item.contribucion }}</th>

                  <th class="text-center">
                    <button class="px-3 py-1 btn btn-outline btn-error btn-xs"
                    (click)="delete_relationArrOds(item.idUnique!)" >Eliminar</button>
                  </th>
                </tr>
              }



              </tbody>
            </table>
            </div>



      </div>

    }











  </div>










</div>




<!-- Modal de actualización exitosa -->
<dialog #modalGuardado class="modal">
  <div class="modal-box">
    <!-- Icono de check (opcional) -->
    <div class="flex justify-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-success" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </div>

    <h3 class="text-lg font-bold text-center">¡Actualización exitosa!</h3>
    <p class="py-4 text-center">Los datos de la variable se han actualizado correctamente.</p>

    <div class="modal-action flex justify-center">
      <!-- Botón para cerrar -->
      <button class="btn btn-success" (click)="irANuevaVariable()">Aceptar</button>
    </div>
  </div>
</dialog>
<!-- Modal de Error -->
<dialog #modalError class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold text-red-600">⚠️ Error</h3>
    <p class="py-4">{{ mensajeError }}</p>
    <div class="modal-action">
      <button class="btn btn-primary" (click)="cerrarModalError()">Aceptar</button>
    </div>
  </div>
</dialog>
