
<div class="flex flex-col items-center justify-center pt-5 text-center px-4">
  <h1 class="text-5xl font-bold text-primary">404 - Página no encontrada</h1>
  <p class="py-6 text-lg text-gray-600 dark:text-gray-400">
    Lo sentimos, no pudimos encontrar la página que buscas.
  </p>

  <!-- Spinner de carga -->
  <span *ngIf="isLoading" class="loading loading-spinner loading-xl"></span>

  <!-- Imagen del perrito -->
  <img *ngIf="!isLoading" [src]="dogImageUrl" alt="Perrito de Amazon"
    class="max-w-full h-auto rounded-lg shadow-lg bg-transparent" />
</div>
