<div class="hero min-h-screen"
  style="background-image: url('/assets/bg-ods.jpg'); min-height: calc(100dvh - 4rem);">

  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">¡Bienvenido!</h1>
      <p class="mb-5 bg-slate/70 p-4 rounded-xl backdrop-blur-sm w-auto">
        Te damos la bienvenida al sistema de captura de datos. Aquí podrás registrar, consultar y gestionar la información de
        forma sencilla y segura.
      </p>
      <!-- <button class="btn btn-primary" style="width: 20rem;" routerLink="/fuentes">Capturar Fuente de Identificación</button> -->
    </div>
  </div>
</div>



