<div class="w-full max-w-screen-xl mx-auto px-5 mt-5 mb-5">

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-montserrat text-primary">Identificación de la variable fuente año {{_anioEvento}}
    </h1>


    <button class="btn btn-sm btn-primary" [disabled]="finalizarCaptura" (click)="registrarTema()">
      Finalizar Captura
    </button>

  </div>

  <div class="grid grid-cols-1 md:grid-cols-8 gap-4 mb-5">


    <div class="col-span-2">

      <label class="block text-sm font-medium  mb-2 text-secondary" for="idVariable">
        Id variable
      </label>

      <div class="join">
        <input type="text" id="idVariable" class="input input-bordered join-item w-full input-sm"
          [(ngModel)]="idVariable" [disabled]="camposBloqueados" placeholder="Email" />

        <label for="my-drawer-4" class="btn btn-sm join-item  drawer-button" (click)="abrirDrawer()">Consultar</label>

      </div>

    </div>


    <div class="col-span-3">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="nombreVariable">
        Nombre de la variable
      </label>
      <input type="text" id="nombreVariable" [(ngModel)]="nombreVariable" [disabled]="camposBloqueados"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-3">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="definicionVariable">
        Definición de la variable
      </label>
      <input type="text" id="definicionVariable" [(ngModel)]="definicionVariable" [disabled]="camposBloqueados"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="_linkVar">
        Url de acceso variable
      </label>
      <input type="text" id="_linkVar" [(ngModel)]="_linkVar" [disabled]="camposBloqueados"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-4">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="comentarioVariable">
        Comentario de la variable
      </label>
      <input type="text" id="comentarioVariable" [(ngModel)]="comentarioVariable" [disabled]="camposBloqueados"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-1 text-center">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="alinea_MDEA">
        Alineación con MDEA
      </label>
      <input type="checkbox" id="alinea_MDEA" [checked]="flagMDEArelation" (click)="checkedAliniationMDEA($event)"
        [disabled]="camposBloqueados" class="checkbox checkbox-md " />
    </div>

    <div class="col-span-1 text-center">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="alinea_ODS">
        Alineación con ODS
      </label>
      <input type="checkbox" id="alinea_ODS" [checked]="flagODSrelation" (click)="checkedAliniationODS($event)"
        [disabled]="camposBloqueados" class="checkbox checkbox-md" />
    </div>



  </div>

  <div class="grid grid-cols-1 md:grid-cols-7 gap-4 mb-5">




    <div class="col-span-3">
      <label class="block text-sm font-medium mb-2 text-secondary" for="temaCobertura">
        Tema de cobertura de necesidades
      </label>
      <input type="text" id="temaCobertura" [(ngModel)]="temaCobertura" (ngModelChange)="verificarFinalizarCaptura()"
        (click)="onComentarioClick($event)" class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium  mb-2 text-secondary" for="idNivelCont">
        Nivel de contribución
      </label>
      <select class="select select-bordered select-sm w-full " [disabled]="DISABLE_temaCobertura"
        [(ngModel)]="nivelContribucion">
        <option disabled selected>Selecciona un nivel</option>
        <option value="Alto">Alto</option>
        <option value="Intermedio">Intermedio</option>
        <option value="Bajo">Bajo</option>
        <option value="-">-</option>
      </select>
    </div>

    <div class="col-span-2">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Viabilidad de generación
      </label>
      <select class="select select-bordered select-sm w-full " [disabled]="DISABLE_temaCobertura"
        [(ngModel)]="viabilidad">
        <option disabled selected>Selecciona una opción</option>
        <option value="Viable">Viable</option>
        <option value="No viable">No viable</option>
        <option value="-">-</option>
      </select>
    </div>

    <div class="col-span-3">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Propuesta de generación de estadística derivada
      </label>
      <input [disabled]="DISABLE_temaCobertura" [(ngModel)]="propuesta" (ngModelChange)="verificarFinalizarCaptura()"
        type="text" id="comentarioVariable" class="input input-sm input-bordered w-full" placeholder="" />
    </div>

    <div class="col-span-4">
      <label class="block text-sm font-medium mb-2 text-secondary " for="comentarioVariable">
        Comentario de pertinencia
      </label>
      <input [disabled]="DISABLE_temaCobertura" [(ngModel)]="comentarioPertinencia"
        (ngModelChange)="verificarFinalizarCaptura()" type="text" id="comentarioVariable"
        class="input input-sm input-bordered w-full" placeholder="" />
    </div>

  </div>



  @if (showWarning && currentDeactivation) {
  <div role="alert" class="alert alert-vertical sm:alert-horizontal animate-fadeIn mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info h-6 w-6 shrink-0">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <span>¿Estás seguro de desactivar la alineación con {{currentDeactivation.name}}?</span>
    <div>
      <button class="btn btn-sm mr-5" (click)="cancelDeactivation()">Cancelar</button>
      <button class="btn btn-sm btn-primary" (click)="confirmDeactivation()">Aceptar</button>
    </div>
  </div>
  }

  <!--! dos columnas -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!--! mdea -->
    @if (showPOST_RELATIONES_MDE) {
    <div class="border p-4">

      <div class="flex justify-between items-center mb-6">
        <h1 class="text-1xl font-bold font-montserrat text-primary">Relación MDEA</h1>

        <button class="btn btn-outline btn-sm btn-primary " (click)="registrarRelacion()">
          + Agregar relación MDEA
        </button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-2">

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idComponente">
            Componente
          </label>
          <select class="select select-bordered select-sm w-full" (change)="onSelectComponente($event)">
            <option disabled selected>Selecciona un Componente</option>
            <option *ngFor="let comp of arrComponentes" [value]="comp.idComponente">{{comp.idComponente}}. {{ comp.nombre }}</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idSubcom">
            Subcomponente
          </label>
          <select class="select select-bordered select-sm w-full" #subcomponenteSelect
            (change)="onSelectSubcomponente($event)" [disabled]="!isSelectEnabled_Subc">
            <option disabled selected>Selecciona un Subcomponente</option>
            <option *ngFor="let subcomp of arrSubcompo" [value]="subcomp.idSubcomponente">{{ subcomp.idSubcomponente }}. {{ subcomp.nombre }}
            </option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idTopico">
            Tema
          </label>
          <select class="select select-bordered select-sm w-full" #topicoSelect (change)="onSelectTopico($event)"
            [disabled]="!isSelectEnabled_Top">
            >
            <option disabled selected>Selecciona un Tópico</option>
            <option *ngFor="let tema of arrTopicos" [value]="tema.idTema">{{ tema.idTema }}. {{ tema.nombre }}</option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idVariableMDEA">
            Estadística 1
          </label>
          <select class="select select-bordered select-sm w-full" #variableSelect (change)="onSelectVariable($event)"
            [disabled]="!isSelectEnabled_Var">
            <option disabled selected>Selecciona una Variable</option>
            <option *ngFor="let vari of arrVariables" [value]="vari.idEstadistico1">{{ vari.idEstadistico1 }}. {{ vari.nombre }}</option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idEstadistico">
            Estadística 2
          </label>
          <select class="select select-bordered select-sm w-full" #estadisticoSelect
            (change)="onSelectEstadistico($event)" [disabled]="!isSelectEnabled_Est">
            <option disabled selected>Selecciona un Estadístico</option>
            <option *ngFor="let estad of arrEstadisticos" [value]="estad.idEstadistico2">{{ estad.idEstadistico2 }}. {{ estad.nombre }}
            </option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idNivelCont">
            Nivel de contribución
          </label>
          <select id="idNivelCont" (change)="onSelectNivel($event)"
            [(ngModel)]="nivelContribucionContenidosMdeaRelation" name="nivelContribucionContenidosMdeaRelation"
            [disabled]="!isSelectEnabled_Nivel" class="select select-bordered select-sm w-full ">
            <option disabled selected>Selecciona un nivel</option>
            <option value="Alto">Alto</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Bajo">Bajo</option>
          </select>

        </div>

        <div class="col-span-3">
          <label class="block text-sm font-medium text-secondary mb-2" for="idComentario">
            Comentario
          </label>
          <input type="text" id="comentariopullMdea" [(ngModel)]="comentariopullMdea"
            [disabled]="!isSelectEnabled_Comentario" class="input input-sm input-bordered w-full" placeholder="" />
        </div>


      </div>


      <div class="flex justify-between items-center mb-2 mt-6">
        <h1 class="text-1xl font-bold font-montserrat text-primary">Lista de relaciones</h1>
      </div>



      <div class="overflow-x-auto">
        <table class="table">
          <thead>
            <tr>
              <th class="text-secondary">Codigo de relación</th>
              <th class="text-secondary text-center">Nivel</th>
              <th class="text-secondary text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for (itemRelation of relationesMDEA; track $index) {
            <tr>
              <th>
                <ul class="grid grid-cols-[auto_1fr] gap-x-2">
                  <li class="contents">
                    <span class="font-medium">Componente:</span>
                    <span>{{ itemRelation.componente }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Subcomponente:</span>
                    <span>{{ itemRelation.subcomponente }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Tema:</span>
                    <span>{{ itemRelation.tema }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Estadística 1:</span>
                    <span>{{ itemRelation.estadistica1 }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Estadística 2:</span>
                    <span>{{ itemRelation.estadistica2 }}</span>
                  </li>
                </ul>
              </th>


              <th class="text-center">{{itemRelation.contribucion}}</th>
              <th class="text-center">
                <button class="px-3 py-1 btn btn-outline btn-error btn-xs"
                  (click)="eliminarRelacionesMDEAWhitVars(itemRelation.idUnique)">Eliminar</button>
              </th>
            </tr>
            }
          </tbody>
        </table>
      </div>






    </div>
    }

    <!--! ods -->
    @if (showPOST_RELATIONES_ODS) {
    <div class="border p-4">

      <div class="flex justify-between items-center mb-6">
        <h1 class="text-1xl font-bold font-montserrat text-primary">Relación ODS</h1>

        <button class="btn btn-outline btn-sm btn-primary " (click)="registrarNuevaRelacion()">
          + Agregar relación ODS
        </button>

      </div>

      <div class="grid sm:grid-cols-1 md:grid-cols-3 gap-2">
        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idComponente">
            Objetivo
          </label>
          <select class="select select-bordered select-sm w-full" (change)="onSelectObjetivo($event)">
            <option disabled selected>Selecciona un Objetivo</option>
            <option *ngFor="let obj of arrODS" [value]="obj.idObjetivo">{{ obj.idObjetivo+'. '+obj.objetivo }}</option>
          </select>
        </div>

        <div class="max-w-xs ">
          <label class="block text-sm font-medium text-secondary mb-2" for="idSubcom">
            Meta
          </label>
          <select class="select select-bordered select-sm w-full" #metaSelect (change)="onSelectMeta($event)"
            [disabled]="!isSelectEnabled_Meta">
            <option disabled selected>Selecciona una Meta</option>
            <option *ngFor="let meta of arrMetas" [value]="meta.idMeta">{{ meta.idMeta }}.
              {{
              meta.meta.length > 50
              ? (meta.meta | slice: 0: 100) + '...'
              : meta.meta
              }}</option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs truncate">
          <label class="block text-sm font-medium text-secondary mb-2" for="idTopico">
            Indicador
          </label>
          <select class="select select-bordered select-sm w-full " #indicadorSelect (change)="onSelectIndicador($event)"
            [disabled]="!isSelectEnabled_Ind">
            >
            <option disabled selected>Selecciona un Indicador</option>
            <option class="truncate" *ngFor="let indic of arrIndicadores" [value]="indic.idIndicador">
              {{indic.idIndicador}}.
              {{ indic.indicador.length > 50 ? (indic.indicador | slice:0:100) + '...' :
              indic.indicador }}</option>
            <option value="-">-</option>
          </select>
        </div>

        <div class="max-w-xs">
          <label class="block text-sm font-medium text-secondary mb-2" for="idNivelCont">
            Nivel de contribución
          </label>
          <select class="select select-bordered select-sm w-full " (change)="_ods_onSelectNivel($event)"
            [(ngModel)]="_ods_nivelContribucion" [disabled]="!_ods_isSelectEnabled_Nivel">
            <option disabled selected>Selecciona un nivel</option>
            <option value="Alto">Alto</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Bajo">Bajo</option>
          </select>

        </div>

        <div class="col-span-2">
          <label class="block text-sm font-medium text-secondary mb-2" for="idComentario">
            Comentario
          </label>
          <input [(ngModel)]="_ods_comentarioRelacionODS" [disabled]="!_ods_isSelectEnabled_Comentario" type="text"
            id="comentariopullMdea" class="input input-sm input-bordered w-full" placeholder="" />
        </div>

      </div>

      <div class="flex justify-between items-center mb-2 mt-6">
        <h1 class="text-1xl font-bold font-montserrat text-primary">Lista de relaciones</h1>


      </div>

      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th class="text-secondary">Codigo de relación</th>
              <th class="text-center text-secondary">Nivel</th>
              <th class="text-center text-secondary">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            @for (itemRelation of relacionesODS; track $index) {
            <tr>
              <th>
                <ul class="grid grid-cols-[auto_1fr] gap-x-2">
                  <li class="contents">
                    <span class="font-medium">Objetivo:</span>
                    <span>{{ itemRelation.objetivo }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Meta:</span>
                    <span>{{ itemRelation.meta }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Indicador:</span>
                    <span>{{ itemRelation.indicador }}</span>
                  </li>

                </ul>
              </th>



              <th class="text-center">{{itemRelation.contribucion}}</th>

              <th class="text-center">
                <button class="px-3 py-1 btn btn-outline btn-error btn-xs"
                  (click)="eliminarRelacion(itemRelation.idUnique!)">Eliminar</button>
              </th>
            </tr>
            }


          </tbody>
        </table>
      </div>




    </div>
    }

  </div>

  <div class="grid grid-cols-1 gap4">

    <div class="flex w-full flex-col">
      <div class="divider"></div>
    </div>

    <div class="flex justify-between items-center mb-6">
      <h1 class="text-1xl font-bold font-montserrat text-primary">Lista de variables </h1>
    </div>

    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th class="text-secondary" style="width: 10rem;">Id Variable</th>
            <th class="text-secondary">Nombre</th>

            <th class="text-secondary text-center">Alineación Mdea</th>
            <th class="text-secondary text-center">Alineación Ods</th>
            <th class="text-secondary text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for ( varItem of arrVARIABLES_REGISTER; track $index) {

          <tr>
            <td class="">{{ varItem.idS }}</td>
            <td>{{varItem.nombre }}</td>

            <td class="text-center">
              @if (varItem.mdea) {
              <span class="text-green-600">✔️</span>
              } @else {
              <span class="text-red-600">❌</span>
              }
            </td>
            <td class="text-center">
              @if (varItem.ods) {
              <span class="text-green-600">✔️</span>
              } @else {
              <span class="text-red-600">❌</span>
              }
            </td>
            <td class="text-center">
              <!-- <button class="px-3 py-1 btn btn-outline btn-primary btn-xs ">
                Ver
              </button> -->
              <button (click)="editarVariable(varItem)" class="px-3 py-1 btn btn-outline btn-primary btn-xs ">
                Consultar
                </button>
              <button class="px-3 py-1 btn btn-outline btn-error btn-xs ml-2"
                (click)="eliminarVariable(varItem.idA)">
                Eliminar
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</div>




<!--! modal -->

<dialog #miModal id="mi_modal_1" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¿Deseas continuar con el registro?</h3>
    <p class="py-4">
      Si continúas, se registrarán los campos que acabas de llenar para esta variable y se habilitará la sección
      para
      agregar las relaciones correspondientes.<br><br>
      Si aún no estás seguro, puedes cancelar para revisar o editar los datos antes de proceder.
    </p>

    <div class="modal-action">
      <form method="dialog">
        <button class="btn btn-secondary">Cancelar</button>
      </form>
      <button class="btn btn-primary" (click)="accionPersonalizada()">Sí, continuar</button>
    </div>
  </div>
</dialog>


<div class="drawer drawer-end">
  <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">

  </div>
  <div class="drawer-side">
    <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-100 pr-2">
      <!-- Sidebar content here -->
      @for (item of arrVarsById; track $index) {
      <div class="card bg-base-100 shadow-xl mt-2" style="width: 25rem;">
        <div class="card-body">
          <h3 class="font-bold text-secondary text-lg text-center">
            {{ item.idA }}
          </h3>

          <!-- Información básica -->
          <div class="mb-4">
            <p class="text-primary font-semibold text-lg">Nombre:</p>
            <p>{{ item.nombre }}</p>

            <p class="text-primary font-semibold text-lg mt-2">Definición:</p>
            <p>{{ item.definicion || 'No especificado' }}</p>

            <p class="text-primary font-semibold text-lg mt-2">Link:</p>
            <p>{{ item.url || 'No disponible' }}</p>

            <p class="text-primary font-semibold text-lg mt-2">Comentario:</p>
            <p>{{ item.comentarioS || 'No disponible' }}</p>

            <button class="btn btn-block btn-sm  btn-primary mt-3" (click)="pegarDatosVariable(item)">
              Pegar Datos
            </button>
          </div>

          <!-- Relaciones MDEA -->
          <div class="border-t pt-3">
            <h3 class="font-bold text-lg mb-2 text-secondary text-center">MDEA</h3>

            <ng-container *ngIf="item.mdeas && item.mdeas.length > 0; else noMdeas">
              <div *ngFor="let mdea of item.mdeas" class="mb-3 p-2 bg-base-200 rounded-lg">
                <ul class="text-sm  grid grid-cols-[auto_1fr] gap-x-2">
                  <li class="contents">
                    <span class="font-medium">Componente:</span>
                    <span>{{ mdea.componente }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Subcomponente:</span>
                    <span>{{ mdea.subcomponente }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Tema:</span>
                    <span>{{ mdea.tema }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Estadística 1:</span>
                    <span>{{ mdea.estadistica1 }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Estadística 2:</span>
                    <span>{{ mdea.estadistica2 }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Nivel de contribución:</span>
                    <span>{{ mdea.contribucion }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Comentario:</span>
                    <span>{{ mdea.comentarioS }}</span>
                  </li>
                </ul>
              </div>
            </ng-container>

            <ng-template #noMdeas>
              <div class="alert alert-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>No hay relaciones MDEA registradas</span>
              </div>
            </ng-template>
          </div>

          <!-- Relaciones ODS -->
          <div class="mt-4 border-t pt-3">
            <h3 class="font-bold text-lg mb-2 text-secondary text-center">ODS</h3>

            <ng-container *ngIf="item.odsList && item.odsList.length > 0; else noOds">
              <div *ngFor="let ods of item.odsList" class="mb-3 p-2 bg-base-200 rounded-lg">
                <ul class="text-sm grid grid-cols-[auto_1fr] gap-x-2">

                  <li class="contents">
                    <span class="font-medium">Objetivo:</span>
                    <span>{{ ods.objetivo }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Meta:</span>
                    <span>{{ ods.meta }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Indicador:</span>
                    <span>{{ ods.indicador }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Nivel de contribución:</span>
                    <span>{{ ods.contribucion }}</span>
                  </li>
                  <li class="contents">
                    <span class="font-medium">Comentario:</span>
                    <span>{{ ods.comentarioS }}</span>
                  </li>

                </ul>
              </div>
            </ng-container>

            <ng-template #noOds>
              <div class="alert alert-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>No hay relaciones ODS registradas</span>
              </div>
            </ng-template>
          </div>

          <!-- Relaciones tema -->
          <div class="mt-4 border-t pt-3">
            <h3 class="font-bold text-lg mb-2 text-secondary text-center">Tema Cobertura de Necesidades</h3>

            <ng-container *ngIf="item.pertinencia; else noPer">
              <div class="mb-2 p-2 rounded-lg">
                <div class="mb-2">
                  <p class="text-primary font-semibold text-lg">Tema de cobertura:</p>
                  <p>{{ item.pertinencia.pertinencia }}</p>

                  <p class="text-primary font-semibold text-lg mt-2">Nivel de contribución:</p>
                  <p>{{ item.pertinencia.contribucion || 'No especificado' }}</p>

                  <p class="text-primary font-semibold text-lg mt-2">Viabilidad de generación:</p>
                  <p>{{ item.pertinencia.viabilidad || 'No disponible' }}</p>

                  <p class="text-primary font-semibold text-lg mt-2">Propuesta de generación:</p>
                  <p>{{ item.pertinencia.propuesta || 'No disponible' }}</p>

                  <button class="btn btn-block btn-sm btn-primary mt-4" [disabled]="DISABLE_temaCobertura"
                    (click)="pegarDatosPertinencia(item.pertinencia)">
                    Pegar Datos
                  </button>
                </div>
              </div>
            </ng-container>

            <ng-template #noPer>
              <p class="text-sm text-slate-500">Sin pertinencia registrada.</p>
            </ng-template>


            <ng-template #noPer>
              <div class="alert alert-primary">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>No hay relaciones Tema Cobertura de necesidades registradas</span>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      }


    </ul>
  </div>
</div>

<!-- Modal para ID de variable duplicado -->
<dialog #modalIdDuplicado class="modal">
  <div class="modal-box">
    <!-- Icono de error -->
    <div class="flex justify-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-error" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
      </svg>
    </div>

    <h3 class="text-lg font-bold text-center">¡ID de variable duplicado!</h3>
    <p class="py-4 text-center">
      Ya existe una variable con el mismo ID en el sistema.<br>
      Por favor, modifica el ID antes de continuar con el registro.
    </p>

    <div class="modal-action flex justify-center gap-4">
      <!-- Botón para corregir -->
      <button class="btn btn-error" (click)="corregirIdVariable()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
        </svg>
        Modificar ID
      </button>

    </div>
  </div>
</dialog>


<!-- Modal -->
<dialog #modalEliminar class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">¿Estás seguro?</h3>
    <p class="py-4">¿Deseas eliminar esta variable? Esta acción no se puede deshacer.</p>
    <div class="modal-action">
      <!-- Botón Cancelar -->
      <button class="btn btn-outline" (click)="cerrarModal()">Cancelar</button>
      <!-- Botón Aceptar -->
      <button class="btn btn-error" (click)="confirmarEliminacion()">Aceptar</button>
    </div>
  </div>
</dialog>
