


<div class="grid gap-4 xl:grid-cols-12">

  <!-- FORMULARIO -->
  <div class="xl:col-span-5">
    <div class="card border border-base-300 bg-base-100 shadow-sm">
      <div class="card-body gap-4 p-4">
        <div>
          <h2 class="card-title text-base">Relaciones MDEA</h2>
          <p class="text-xs text-base-content/60">
            Captura una relación MDEA para la variable {{idA}}.
          </p>
        </div>



        <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-3">
          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Componente</span>
            </label>

            <select class="select select-bordered w-full" [(ngModel)]="idComponente" (change)="onComponenteChange()">
              <option value="" disabled>Selecciona componente</option>

              @for (comp of componentes; track comp.idComponente) {
              <option [value]="comp.idComponente">
                {{ comp.idComponente }} - {{ comp.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Subcomponente</span>
            </label>

            <select class="select select-bordered w-full" [(ngModel)]="idSubcomponente" [disabled]="!idComponente"
              (change)="onSubcomponenteChange()">
              <option value="-">-</option>

              @for (sub of subcomponentes; track sub.uniqueId) {
              <option [value]="sub.idSubcomponente">
                {{ sub.idSubcomponente }} - {{ sub.nombre }}
              </option>
              }
            </select>
          </div>


          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Tema</span>
            </label>

            <select class="select select-bordered w-full" [(ngModel)]="idTema" [disabled]="idSubcomponente === '-'"
              (change)="onTemaChange()">
              <option value="-">-</option>

              @for (tema of temas; track tema.uniqueId) {
              <option [value]="tema.idTema">
                {{ tema.idTema }} - {{ tema.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Estadística 1</span>
            </label>

            <select class="select select-bordered w-full" [(ngModel)]="idEstadistico1" [disabled]="idTema === '-'"
              (change)="onEstadistica1Change()">
              <option value="-">-</option>

              @for (est of estadisticas1; track est.uniqueId) {
              <option [value]="est.idEstadistico1">
                {{ est.idEstadistico1 }} - {{ est.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Estadística 2</span>
            </label>

            <select class="select select-bordered w-full" [(ngModel)]="idEstadistico2" [disabled]="idEstadistico1 === '-'">
              <option value="-">-</option>

              @for (est of estadisticas2; track est.uniqueId) {
              <option [value]="est.idEstadistico2">
                {{ est.idEstadistico2 }} - {{ est.nombre }}
              </option>
              }
            </select>
          </div>

          <div class="form-control">
            <label class="label">
              <span class="label-text text-xs font-medium">Contribución</span>
            </label>
            <select class="select select-bordered w-full" [(ngModel)]="contribucion">
              <option value="" disabled>Selecciona un nivel</option>
              <option value="Alto">Alto</option>
              <option value="Intermedio">Intermedio</option>
              <option value="Bajo">Bajo</option>
              <option value="-">-</option>
            </select>
          </div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text text-xs font-medium">Comentario</span>
          </label>
          <textarea class="textarea textarea-bordered min-h-20 w-full" [(ngModel)]="comentarioS"
            placeholder="Comentario MDEA"></textarea>
        </div>

        <div class="flex justify-end gap-2">
          <button class="btn btn-outline btn-sm px-6" (click)="limpiarFormularioMdea()">
            Limpiar
          </button>

          <button class="btn btn-primary btn-sm px-6" (click)="guardarMdea()">
            Guardar MDEA
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- TABLA -->
  <div class="xl:col-span-7">
    <div class="card border border-base-300 bg-base-100 shadow-sm h-full">
      <div class="card-body p-4">
        <div class="flex items-center justify-between">
          <h2 class="card-title text-base">Relaciones MDEA capturadas</h2>
          <span class="text-xs text-base-content/60">
            {{ relacionesMdea.length }} registros
          </span>
        </div>

        <div class="overflow-x-auto rounded-box border border-base-300">
          <table class="table table-zebra table-sm [&_td]:py-2 [&_th]:py-2">
            <thead>
              <tr>
                <th>Componente</th>
                <th>Subcomponente</th>
                <th>Tema</th>
                <th>Estadistica1</th>
                <th>Estadistica2</th>
                <th>Contrib.</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>

            <tbody>
              @for (rel of relacionesMdea; track rel.idUnique) {
              <tr>
                <td class="max-w-36 truncate text-sm"  [title]="rel.componenteNombre">{{ rel.componente }} - {{ rel.componenteNombre }}</td>
                <td class="max-w-36 truncate text-sm" [title]="rel.subcomponenteNombre">{{ rel.subcomponente }} - {{ rel.subcomponenteNombre }}</td>
                <td class="max-w-36 truncate text-sm" [title]="rel.temaNombre">{{ rel.tema }} - {{ rel.temaNombre }}</td>
                <td class="max-w-36 truncate text-sm" [title]="rel.estadistica1Nombre">{{ rel.estadistica1 }} - {{ rel.estadistica1Nombre }}</td>
                <td class="max-w-36 truncate text-sm" [title]="rel.estadistica2Nombre">{{ rel.estadistica2 }} - {{ rel.estadistica2Nombre }}</td>

                <td class="max-w-36 truncate text-sm" [title]="rel.contribucion">{{ rel.contribucion }}</td>

                <td class="text-center">
                  <button class="btn btn-xs btn-error" (click)="eliminarRelacion(rel.idUnique)">
                    Eliminar
                  </button>
                </td>
              </tr>
              }

              @if (!relacionesMdea.length) {
              <tr>
                <td colspan="7" class="text-center text-sm text-base-content/50 py-4">
                  No hay relaciones MDEA capturadas.
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


<dialog #modalSinDatosMdea class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Faltan datos obligatorios</h3>

    <p class="py-2">
      Antes de guardar MDEA, completa los siguientes campos:
    </p>

    <ul class="list-disc pl-5 text-sm">
      <li *ngFor="let campo of camposFaltantes">
        {{ campo }}
      </li>
    </ul>

    <div class="modal-action">
      <button class="btn btn-primary" type="button" (click)="cerrarModalSinDatosMdea()">
        Entendido
      </button>
    </div>
  </div>
</dialog>
