@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
 @font-face {
  font-family: "Montserrat";
  src: url('../public/assets/fonts/monse.ttf')
        format("truetype");
 }
}

.dropdown:not(.open) .dropdown-content {
  display: none;
}
/* hola amorcito */
