
<div class="container mx-auto mt-10">
  <h1 class="text-3xl font-bold font-montserrat mb-6 text-primary">Editar fuente de identificación</h1>

  <div class="grid gap-4">

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">



      <!--! Tipo Fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium mb-2 text-secondary" for="fuente">
          Fuente de identificación
        </label>
        <input type="text" id="fuente" [(ngModel)]="fuente" class="input input-sm input-bordered w-full " placeholder="" />
      </div>

      <!--! Año del evento -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="anio">
          Año del evento
        </label>
        <input type="text" id="anio" [(ngModel)]="anioEvento" maxlength="6" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>
    </div>

    <div class="grid grid-col-1 md:grid-cols-4 gap-4">
      <!--! Liga de acceso a la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="accesoLink">
          Liga de acceso a la fuente
        </label>
        <input type="text" id="accesoLink" [(ngModel)]="linkFuente" class="input input-sm input-bordered w-full "
          placeholder="" />
      </div>


      <!--! Comentario de la fuente -->
      <div class="col-span-2">
        <label class="block text-sm font-medium  mb-2 text-secondary" for="comentario">
          Comentario de la fuente
        </label>
        <input type="text" id="comentarioF" [(ngModel)]="comentario" class="input input-sm input-bordered w-full" />
      </div>




    </div>



    <div *ngIf="mostrarAlerta()" class="toast toast-top toast-end mt-20">
      <div class="alert btn-success">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ mensajeAlerta }}</span>
      </div>
    </div>


    <div class="flex flex-row-reverse">
      <button class="btn btn-outline btn-primary btn-sm" type="submit" (click)="actualizarFuente()">
        Actualizar
      </button>
    </div>
  </div>
</div>





<!-- Modal de actualización exitosa -->
<dialog #modalActualizacionExitosa class="modal">
  <div class="modal-box">
    <!-- Icono de check (opcional) -->
    <div class="flex justify-center mb-4">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-success" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
      </svg>
    </div>

    <h3 class="text-lg font-bold text-center">¡Actualización exitosa!</h3>
    <p class="py-4 text-center">Los datos de la fuente se han actualizado correctamente.</p>

    <div class="modal-action flex justify-center">
      <!-- Botón para cerrar -->
      <button class="btn btn-success" (click)="clocemodalActualizacionExitosa()">Aceptar</button>
    </div>
  </div>
</dialog>


<dialog #modalErrorFuenteDuplicada class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Error</h3>

    <p class="py-4">Ya existe una fuente con esa información. </p>
    <div class="modal-action">
      <button class="btn" (click)="cerrarModalerror()">Cerrar</button>
    </div>
  </div>
</dialog>
